body{
    margin: 0px;
    padding:0px;
}

/* image */
.im_1 {
    height: 500px !important;
}

.image-logo{
    display: flex;
    height: 40px;
    /* width: 0px; */
}

.search :hover{
background-color: aqua !important;
}

.user{
    margin-right:20px;
margin-left: 100px !important;
font-size: 30px;
}

.user a{
    color: black;
}
.user a :hover{
    color: black;
}

.sub-menu-wrap{
    position: relative;
    top: 100%;
    right: 7%;
    width: 277px;
}

.sub-menu{
    background: #fff;
    padding: 0px;
    /* margin-top:10px ; */
    margin: 10px 0px 0px 0px;
    width: 240px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h4{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.ima-one{
    margin-left: 10px;
    height: 52px;
    width: 75px;
    border-radius: 50%;
}
.high{
    display: flex;
}

.hey{
    margin: 5px 0px 0px 5px;
}


/* .show{
    width: 150px !important;
} */
/* middle section */

.content{
    background-color: blanchedalmond;
    height: 500px;
}

.sub-head{
    width: 100px;
    margin-top: 100px;
    /* opacity: 0.6; */
}

.cards{
    margin-top: 40px;
    width: 265px;
    box-shadow: 0px 2px 10px 0px #888888;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.cards :hover {
    /* display: inline-block; */
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .cards:hover, .cards:focus, .cards:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-box{
    display: flex;
    justify-content: space-evenly;
}

.card-img{
    height: 200px !important;
}


.form-subb{
    
    background-color: #DEF5E5;
    margin: auto;
    /* border: 2px solid #E6E5A3; */
    box-shadow: 1px 1px 10px 0px #8EC3B0;
    border-radius: 10px;
    width: 900px;
    height: 1060px;
    
}

.info-head{
    margin-top: 20px;
text-align: center;
}

.from{
    
    margin-top: 50px;
    margin-left: 140px;
    width: 600px;
    height: 1000px;
}

#new{
    margin-top: 30px;
}

.last{
    margin-top: 10px;
}

.form-box{
display: flex;
}

.last-name{
    margin: 32px 0px 0px 70px;
}

.ph-no{
    margin: 0px 0px 0px 70px;
}

.start{
    margin: 0px 0px 8px 0px;
}

.start-1 input{
width: 450px;
}

.cit{
    display: flex;
}

.state{
        margin-left:70px;
}

.form-mid{
    display: flex;
}

.address input{
    padding: 0px 20px;
}

.m-city{
    display: flex;
}

.dept-date{
    display: flex;
}

.dept-date input{
    width: 190px;
}

.date{
    margin-top: 10px ;
}




/* Footer */
.Foot-head{
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media a :hover{
    color: black;
}

.socio{
    font-size: 20px;
    text-decoration: none;
}

.foot{
    margin-top: 20px;
}

.end{
    font-size: 10px; 
}
.f{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    color: black;
}



/* EDIT PROFILE PAGE STYLING */

.container__11{
    border: 2px solid red;
    background-color: #FFFBE9;
}


.cont__110{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin:20px auto ;
}
.cont__111{
    /* border: 2px solid yellow; */
    
}
.form___0{
    /* border: 2px solid blue; */
    border-radius: 5px;
    align-items: center;
    margin: 20px 0px;
    width: 500px;
    height: 500px;
    background-color: #F5F5F5;
}
.form_button_main{
    display: flex;
    justify-content: space-evenly;
}
.ima-two-0{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 20px;
}
.prime{
    background-color: #F5F5F5 !important;
    color: #62B6B7 !important;
    outline: #62B6B7 !important;
    
}

.form_button_sub_0 :hover{
    background-color: #62B6B7 !important;
    color: white !important;
    
}
.secondery{
 background-color: #62B6B7 !important;
 color: white !important;
}

.form_button_sub_1 :hover{
    background-color:#F5F5F5 !important ;
    color: #62B6B7 !important;
}
.form___00{
    display: flex;
 justify-content: space-evenly;   
}
.numb{
    width: 200px;
    border-radius: 10px;
    outline: none;
}
.Numb_00{
    width:432px;
    margin: 0px 32px;
    border-radius: 10px;
    outline: none;
}
.label__00{
    margin: 10px 32px;
}
.form_button_sub_0{
    margin-top: 20px;
}
.form_button_sub_1{
    margin-top: 20px;
}


/* Logout Page styling */

.logout_main_cont{
    text-align: center !important;
    border: 2px solid green;
}
.log_form{
    border: 2px solid red;
    width: 400px;
    height: 600px;
    text-align: center !important;
    margin:20px  auto;
}

.log_form_email{
    
}
